// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0 10%;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  border-bottom: solid;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  border-bottom: solid 1px;
  padding: 20px 0;
  font-size: 25px;
}

.winner {
  float: right;
}

.highlight {
  color: red;
}
